body {
  background-color: rgb(236, 236, 236)!important;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);/*colorofthetrackingarea*/
  border: 1px solid rgb(209, 209, 209);
  border-radius:  20px;
  -webkit-border-radius:  20px;
  -moz-border-radius:  20px;
  -ms-border-radius:  20px;
  -o-border-radius:  20px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(168, 168, 168); /* creates padding around scroll thumb */
}

.App {
  height: 100%;
}

@media screen and (min-width: 992px) {

  /* VAR */
  :root {
    --header-top: 100px;
    --header-top-margin: 120px;
    --chat-height: 40px;
    --title-contact-height: 40px;
  }

  /* Start Header */

  #Header {
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 0px 0px rgba(220, 220, 220, 0.2);
    width: 100%;
    height: var(--header-top);
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 50;
  }

  #Header div.searchBar {
    display: flex;
    background-color: rgb(243, 244, 246, 1);
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

  #Header div.searchBar input {
    display: flex;
    background-color: transparent;
    color: rgba(107, 114, 128, 1);
    margin: 0 10px;
    outline: none;
    border: none;
  }

  #Header div.divLogo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #Header img.logo {
    max-width: 100px;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }

  #Header .accountHeader{
    display: flex;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }

  #Header img.imgAccount {
    max-width: 40px;
    border: 1px solid gray;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  #Header p.textAccount {
    margin: 2px 5px;
    align-items: center;
    align-content: center;
  }

  /* End Header */

  .main {
    margin-top: var(--header-top-margin);
    background-color: rgb(236, 236, 236);
    height: 100%;
  }

  /* Start LeftSidebar */

  .LeftSidebar {
    background-color: white;
    width: 100%!important;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 3px 7px rgba(220, 220, 220, 0.5);
    padding-top: 10px;
    height: calc(100vh - var(--header-top-margin));
    left: 0;
    position: fixed!important;
    overflow: auto;
    z-index: 40;
  }

  .LeftSidebar ul {
    margin: 0;
    padding: 0;
  }

  .LeftSidebar li {
    list-style: none;
  }

  .LeftSidebar li:hover{
    cursor: pointer;
    color: blue;
  }

  .LeftSidebar::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
  }
  
  .LeftSidebar::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);/*colorofthetrackingarea*/
    border: 1px solid rgb(209, 209, 209);
    border-radius:  20px;
    -webkit-border-radius:  20px;
    -moz-border-radius:  20px;
    -ms-border-radius:  20px;
    -o-border-radius:  20px;
}
  
  .LeftSidebar::-webkit-scrollbar-thumb {
    background-color: rgb(236, 236, 236); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(168, 168, 168); /* creates padding around scroll thumb */
  }
  
  /* End LeftSidebar */

  /* Start Center */

  .Center {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 3px 7px rgba(220, 220, 220, 0.5);
    padding-top: 10px;
  }
  
  /* End Center */

  /* Start RightSidebar */

  .RightSidebar {
    display: flex;
    background-color: white;
    border-top-left-radius: 5px;
    box-shadow: 0px 1px 3px 7px rgba(220, 220, 220, 0.5);
    height: calc(100vh - var(--header-top-margin));
    right: 0;
    position: fixed!important;
    z-index: 40;
  }

  .TitleContact {
    height: var(--title-contact-height);
    margin: 0;
  }

  .ListOfContact {
    overflow: auto;
    height: calc(100% - var(--chat-height) - var(--title-contact-height));
    margin: 0;
    padding: 0;
  }

  .OneContact {
    margin: 0px 0;
    padding: 0;
    height: 40px;
  }

  .OneContact p, .OneContact hr {
    margin: 0px 0;
    padding: 0;
  }

  /* Start Chat */

  .Chat {
    display: flex;
    box-shadow: 0px -2px 0px 0px rgba(220, 220, 220, 0.5);
    height: var(--chat-height);
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
  }

  .Chat p {
    margin: 0px 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  /* End Chat */

  .ListOfContact::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
  }
  
  .ListOfContact::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);/*colorofthetrackingarea*/
    border: 1px solid rgb(209, 209, 209);
    border-radius:  20px;
    -webkit-border-radius:  20px;
    -moz-border-radius:  20px;
    -ms-border-radius:  20px;
    -o-border-radius:  20px;
  }
  
  .ListOfContact::-webkit-scrollbar-thumb {
    background-color: rgb(236, 236, 236); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgb(168, 168, 168); /* creates padding around scroll thumb */
  }

  /* End RightSidebar */

}